.header h1 {
    display: inline-block;
}

.header .btn-wrapper {
    float: right;
}

.BlockName:hover {
    color: rgb(24, 165, 208);
    display: block;
}

.Edit:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}