.DataRequire {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 100%;
    margin: 15px 0px 3px 15px;
    outline: 0;
    padding: 8px 0px 5px 0px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 85%;
}

.DataRequire:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

.DataRequire:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.DataRequire:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.DataRequire:disabled:active {
    pointer-events: none;
}

.DataRequire:disabled:hover {
    box-shadow: none;
}

.ButtonEdit {
    margin-right: 20px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ButtonEdit:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
    cursor: pointer;
}

.ButtonDelete {
    margin-right: 20px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ButtonDelete:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
    cursor: pointer;
}

.addrow {
    width: fit-content;
    margin-left: auto;
    margin-top: 5px;
    background-color: rgb(18, 165, 149);
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 5px;
}

.addrow:hover {
    box-shadow: rgba(133, 133, 133, 0.2) 1px 4px 2px -1px, rgba(58, 58, 58, 0.14) 1px 3px 3px 1px, rgba(44, 44, 44, 0.12) 1px 2px 6px 1px;
    background-color: rgb(0, 124, 110);
}